<ul class="list-group">
  <h3><li class="list-group-item active" aria-current="true"><strong>New Team</strong></li></h3>
</ul>

<ol>

<%= render 'form', team: @team %>

</ol>

<hr>

<%= link_to 'Back', teams_path, class:"btn btn-primary" %>
