<ul class="list-group">
  <h3><li class="list-group-item active" aria-current="true"><strong>New Business</strong></li></h3>
</ul>

<ol>

<%= render 'form', bussiness: @bussiness %>

</ol>

<hr>

<%= link_to 'Back', bussinesses_path, class:"btn btn-primary"  %>